@import url(../../assets/styles/common.css);

.playButton {
  background-color: var(--play-button-color);
  border-radius: 25px;
  border: 0;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
