@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url(./common.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: auto;
  max-width: 560px;
  padding-top: 10%;
}

.tracker__title {
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
}

.play__button {
  z-index: 100;
}