:root {
  --main-font-family: "Ubuntu", sans-serif;
  --input-border-color: #b2b2b2;
  --play-button-color: rgb(47, 177, 110);
  --active-tracker-background: rgba(47, 177, 110, 0.05);
  --start-pause-button-color: black;
  --delete-button-color: rgb(228, 109, 109);
}
